@using Web.Servies
@inherits LayoutComponentBase

<title>Table web</title>

<div class="page">
    @if (DataManage.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main style="width: 100%">
        <div class="top-row px-4">
            @if (DataManage.User != null)
            {
                <a href="/logout">Выход</a>
            }
            else
            {
                <a href="/login">Вход</a>
            }
            <a href="/sell">Магазин</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
